
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #6bd7a8;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.navbar-category select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}


.navbar-logo img {
  height: 40px;
  cursor: pointer;
}

.navbar-search input {
  width: 300px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}


.navbar-buttons {
  display: flex;
  align-items: center;
}

.sell-button {
  padding: 10px 20px;
  background-color: #e7f3ea;
  color: rgb(30, 133, 93);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.sell-button:hover {
  background-color: #e2dbd6;
}

.profile-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.profile-button img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}


@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
  }
  .navbar-search input {
      width: 100%;
      margin-bottom: 10px;
  }
}
